<div id='container' ng-controller="LinksController">
  <!-- Your html here -->
  <img src='/redirect_icon.png'/>
  <div class='info' ng-repeat="link in data">
    <div class='visits'><span class='count'>{{visits}}</span>Visits</div>
    <div class='title'>{{title}}</div>
    <div class='original'>{{url}}</div>
    <a href='{{base_url}}/{{code}}'>{{base_url}}/{{code}}</a>
  </div>
</div>


<!--<script id='link' type='text/x-handlebars-template'>
//   <img src='/redirect_icon.png'/>
//   <div class='info'>
//     <div class='visits'><span class='count'>{{visits}}</span>Visits</div>
//     <div class='title'>{{title}}</div>
//     <div class='original'>{{url}}</div>
//     <a href='{{base_url}}/{{code}}'>{{base_url}}/{{code}}</a>
//   </div>
 </script> -->

<!--
 <div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
-->
