<div id='container' ng-controller="LinksController">
  <input type='text' ng-model='search' placeholder='filter'>
  <div class='link' ng-repeat="link in data.links | filter:search | orderBy: 'created_at'">
    <div class='info'>{{link.info}}</div>
    <img src='./../../assets/redirect_icon.png'/>
    <!-- link is an object -->
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <!-- where we want to redirect to -->
    <a href='{{link.url}}'>{{link.base_url}}/{{link.code}}</a>
  </div>
</div>
